<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col-5">Name</th>
        <th scope="col-5">Email</th>
        <th scope="col-5">  Property</th>
        <th scope="col-5">Tenants</th>
        <th scope="col-5">Status</th>

        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
      <button type="button" class="btn btn-danger">Update</button>
        <button type="button" class="btn btn-danger">Deactivate</button></td>

      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        <button type="button" class="btn btn-danger">Update</button>
        <button type="button" class="btn btn-danger">Deactivate</button></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
        <button type="button" class="btn btn-danger">Update</button>
        <button type="button" class="btn btn-danger">Deactivate</button></td>
      </tr>
      <button type="button" class="btn btn-primary" (click)="addTenant()">Add Tenant</button>
    </tbody>
  </table>

