<div class="container text center">
    <div class="flex">
    <div class="row">
      <div class="col-4">
        <div class="card w-55 mb-4">
    <div class="card-body1">
      <h5 class="card-title"> <strong>PROPERTIES</strong></h5>
      <p class="card-text"><strong>10</strong>.</p>
      
    </div>
  </div>
  </div>
  <div class="col-4">
    <div class="card w-55 mb-4">
      <div class="card-body2">
        <h5 class="card-title"> <strong>TENANTS</strong></h5>
        <p class="card-text"><strong>5</strong></p>
        
      </div>
    </div>
    </div>
  
  <div class="col-4">
  <div class="card w-55 h-20 mb-4">
    <div class="card-body3">
      <h5 class="card-title"> <strong>UNITS</strong>
      </h5>
      <p class="card-text"><strong>5</strong>.</p>
      
    </div>
  </div>
  </div>
  
    </div>
  </div>
  </div>
  <div>

