<mat-toolbar class="toolbar" mode="top" opened>
  <mat-toolbar-row>
    Owner
  </mat-toolbar-row>
</mat-toolbar>

<div class="sidenav-container">
<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <div>
      <img src="./src/app/assets/images/logo1.png">
    </div>

    <mat-nav-list>
       <mat-list-item><a [routerLink]="['/dashboard']"> <mat-icon>dashboard</mat-icon> Dashboard </a></mat-list-item>
      <a mat-list-item [routerLink]="['/dashboard']"> <mat-icon>dashboard</mat-icon> Dashboard </a>
      <a mat-list-item [routerLink]="['/my-properties']"> <mat-icon>apartment</mat-icon> My Properties </a>
      <a mat-list-item [routerLink]="['/agents']"> <mat-icon>people</mat-icon> Agents </a>
      <a mat-list-item [routerLink]="['/tenants']"> <mat-icon>people</mat-icon> Tenants </a>
      <a mat-list-item [routerLink]="['/units']"> <mat-icon>house</mat-icon> Units </a>
      <a mat-list-item [routerLink]="['/notifications']"> <mat-icon>email</mat-icon> Notifications </a>
      <a mat-list-item [routerLink]="['/issues']"> <mat-icon>report_problem</mat-icon> Issues </a>
      <a mat-list-item [routerLink]="['/settings']"> <mat-icon>settings</mat-icon>  Settings </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

  <app-dashboard></app-dashboard>
</mat-sidenav-content>
</mat-sidenav-container>
</div>
