
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" class="sidenav" opened>
    <div class="logo">
      <img src="./assets/images/logo2.png" width="50" height="50">
    </div>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home/sidenav/dashboard']"> <mat-icon>dashboard</mat-icon> Dashboard </a>
      <a mat-list-item [routerLink]="['/home/sidenav/my-properties']"> <mat-icon>apartment</mat-icon> My Properties </a>
      <a mat-list-item [routerLink]="['/home/sidenav/tenants']"> <mat-icon>people</mat-icon> Tenants </a>
      <a mat-list-item [routerLink]="['/home/sidenav/units']"> <mat-icon>house</mat-icon> Units </a>
      <a mat-list-item [routerLink]="['/home/sidenav/notifications']"> <mat-icon>email</mat-icon> Notifications </a>
      <a mat-list-item [routerLink]="['/home/sidenav/issues']"> <mat-icon>report_problem</mat-icon> Issues </a>
      <a mat-list-item [routerLink]="['/home/sidenav/settings']"> <mat-icon>settings</mat-icon>  Settings </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
       <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <button class="menu" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="agent">
          Agent
          </div>
          <div>
          <button class="logout">
            Logout
          </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="units">
    <router-outlet></router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>
