
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d4d5d6;
}

.sidenav{
  background: #0696e7;
}

.toolbar{
  position: absolute;
  background: #0696e7;
}

.units{
  margin-top: 100px;
  position: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.menu{
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}
.owner{
  margin-left: 20px;
  color: white;
}
.logout{
  background-color: red;
  color: white;
  border: none;
  margin-left: 900px;
}
